/**** Skeleton ****/
body{
    //background-image: url("/SiteWebVenteEnLigne/MVC/Images/Fond.jpg");
    background: #98b345;
}

[class*="col-"], .row, header, body, footer{
    //border : solid 1px red;
    padding : 0px;
}
.container-fluid{
    //border : solid 1px blue;
    padding : 0px;
}
.row, header, body, footer{
    margin: 0px;
}

/*** Banner ***/
header{
    background: #fbf7e9;
}
#header{
    border-bottom: solid 1px #f8b053;
}
#header_title, #research, #cart, #login, #header{
    min-height: 65px;
}
#header_title_brand{
    color: #98b345;
    font-family: Impact, fantasy; 
    font-size: 25px;
    text-align: left;
}
#header_title_logo{
    height: 25px;
    width: 57px;
}
/** Menu **/

.menu [class*="col-"]{
    padding: 3px;
}
.menu, #menu_home, #menu_detail{
    background: #98b345;
    color: white;
    text-align: center;
}
a:hover{
    color: white;
}
#menu_detail{
    color: #98b345;
}

.highlight{
   color: white;
}

.menu_sous-menu{
    background: #9fbe3e;
    text-align: center;
}
.menu_sous-menu a{
    color: white;
}
.navbar-fixed-top{
    border: none;
}
.highlighted{
    background: #9fbe3e;
    color: #f8b053 !important;
    font-weight: bold;
    text-shadow: 1px 1px #6b6767 ;
}
/** end Menu **/
/*** end Banner ***/
#content{
    padding : 0px;
    padding-top : 120px;
}
#content_article{
    background: rgba(251,247,233,1);
    border-radius: 25px;
    border: solid 1px #f8b053;
    min-height: 700px;
    padding: 10px;
}
#footer{
    background: #98b345;
    text-align: center;
}
#footer a{
    color: white;
}/**** end Skeleton ****/

/**** Home ****/
#home_container{
    padding: 0px;
}
.home_text{
    font-family: Georgia;
    font-style: italic;
}
.home_img_recipe{
    //border-radius: 25px;
    height: 250px;
    margin: 5px;
    margin-bottom: 30px;
    margin-top: 5px;
    width: 250px;
}
.home_img{
    border-radius: 25px;
    height: 100px;
    margin: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 100px;
}
.picture{
    //border: solid 1px black;
    display: inline-block;
    margin: auto;
    text-align: center;
}
/**** end Home ****/

/**** Category ****/
.category-title{
    color: #f8b053;
    font-family: Impact, fantasy; 
    font-size: 21px;
    margin-bottom: 10px;
    text-align: center;   
}
.category_article{
    margin: 15px;
    margin-right: 43px;
    margin-left: 43px; 
    text-align: center;
}
.category_article_title{
    color: #98b345;
    font-family: Impact, fantasy; 
    font-size: 18px;
    margin-bottom: 5px;
    text-align: center;
}

.category_article_img{
    height: 200px; 
    width: 100%; 
    margin: 5px;
    background-repeat: no-repeat; 
    background-position: center center; 
    background-size: contain;
}/**** end Category ****/

/**** Articles ****/
.article_title{
    color: #f8b053;
    font-family: Impact, fantasy; 
    font-size: 21px;
    margin-bottom: 15px;
    text-align: center; 
}
.article_img{
    height: 300px; 
    width: 300px; 
    margin: 5px;
    background-repeat: no-repeat; 
    background-position:center center; 
    background-size:contain;
}
.article_info_title{
    color: #98b345;
    font-family: Impact, fantasy; 
    font-size: 15px;
    //margin-bottom: 10px;
    margin-top: 10px;
}
/**** end Articles ****/
/**** Admin ****/
.admin{
    color: #f8b053;
    font-family: Impact, fantasy; 
    font-size: 21px;
    margin-bottom: 15px;
    text-align: center; 
}
.admin_tests{
    text-align: center; 
}
.btn{
    padding: 5px;
    margin-bottom: 5px;
}
/**** end Admin ***/